.container__small-card {

  width: 500px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  max-width: 200px;
  min-height: 100px;
  margin-right: 20px;
  border-radius: 50%;

}

.small-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;

 }
 .linha-small-card > hr {
  margin-bottom: 10px;

 }

 .small-card__description {
  margin-top: 20px;

}

.small-card__description > a > p {
  color: gray;
}
